doctype html
html(lang='en')
head
  meta(charset='UTF-8')
  title Hospital.js
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

  link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css')
body
  //- This is where the React app mounts itself.
  #app
  //- The webpack-generated bundle.
  script(type='text/javascript').
    __INITIAL_STATE__ = !{JSON.stringify({ currentUser: currentUser })}
  script(type='text/javascript' src='/bundle.js')