@import './Breakpoints.scss';

.container {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  > div {
    padding-bottom: 10px;
  }
  @include respond-to('small') {
    align-items: center;
    flex-direction: row;
    > div {
      padding-bottom: 0;
    }
  }
}

.info {
  flex: 1 1 auto;
}

.stage {
  flex: 0 0 auto;
}

.name {
  font-size: 22px;
  font-weight: 500;
}
.effect {
  color: #888;
}