@import './Breakpoints.scss';

.diagnose {
  font-size: 16px;
  font-weight: 500;
  padding-right: 10px
}

.row {
  padding: 10px 20px;
}

.mute {
  color: #bbb;
}

.doctor {
  color: #999;
  display: none;
  @include respond-to('small') {
    display: block;
  }
}

.timestamp {
  composes: mute;
  font-size: 14px;
  padding-right: 10px;
  display: none;
  text-align: right;
  @include respond-to('small') {
    display: block;
  }
}

.status {
  width: 4px;
  background-color: #999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%
}

.pending {
  composes: status;
  background-color: #ccc;
}

.approved {
  composes: status;
  background-color: #8BC34A;
}

.rejected {
  composes: status;
  background-color: #E57373;
}

.rejectionReason {
  padding: 0 5px;
  color: #F44336;
  display: none;
  @include respond-to('medium') {
    display: block;
  }
}

.rejectedLabel {
  font-weight: 500;
}