@import './Breakpoints.scss';
.body {
  margin: auto;
  @include respond-to('small') {
    width: 100%;
  }
  @include respond-to('medium') {
    width: 35%;
  }
  @include respond-to('large') {
    width: 25%;
  }
}

.editable {
   path:hover {
    opacity: 0.5;
  }
}