@import './Breakpoints.scss';

.container {
  padding-top: 70px
}

.inputContainer {
  padding: 15px 20px;
  margin-bottom: 80px;
}

.searchField {
  font-size: 24px;
  border: none;
  outline: none;
  width: 100%;
  font-weight: 300;
  @include respond-to('small') {
    font-size: 24px;
  }
}