@import './Breakpoints.scss';

.container {
  padding: 0 20px;
  @include respond-to('medium') {
    padding-right: 0 10%;
  }
}

.recordsContainer {
  padding-top: 20px;
}

.noRecords {
  text-align: center;
  background-color: #f5f5f5;
  padding: 50px 0;
  font-size: 26px;
  color: #999;
}