@import './Breakpoints.scss';

:global {
  .approvalRequestTransition-enter {
    opacity: 0.1;
    transform: scale(0,0);
    max-height: 0px;
  }
  .approvalRequestTransition-enter.approvalRequestTransition-enter-active {
    opacity: 1;
    transition: all 600ms ease-in;
    transform: scale(1,1);
    max-height: 200px;
  }
  .approvalRequestTransition-leave {
    opacity: 1;
    transform: scale(1,1);
    max-height: 200px;
  }
  .approvalRequestTransition-leave.approvalRequestTransition-leave-active {
    opacity: 0.01;
    transform: scale(0,0);
    max-height: 0px;
    transition: all 500ms ease-in;
  }
}

.container {

}

.noRequests {
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 300;
}