@import './Breakpoints.scss';


.container {
  padding: 10px 10%;
  @include respond-to(small) {
    padding: 10px 20%;
  }
}

.title {
  font-weight: 200;
  text-align: center
}

.group {
  padding-bottom: 10px;
}

.form {
  padding: 10px 20px;
}

.enter {
  opacity: 0.01;
  transition: opacity 1.5s ease-in;
}
.enter.enter-active {
  opacity: 1;
}
.leave {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}
.leave.leave-active {
  opacity: 0.01;
}
.appear {
  opacity: 0.01;
}
.appear.appear-active {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

.statusLabel {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.loading {
  composes: statusLabel;
  color: #aaa;
}
.badLogin {
  composes: statusLabel;
  color: #F44336;
}