.container {
  padding: 20px;
}

.view {
  font-size: 20px;
}

.textField {
  width: 100%;
  border: none;
  max-width: 100%;
  outline: none;
  resize: none;
  font-family: 'Courier New';
  overflow: hidden;
}

.hasError {
  color: #F44336;
}

.error {
  padding-top: 10px;
  color: #F44336;
  font-size: 12px;
}