.dateAdded {
  color: #888;
  font-size: 14px;
}

.editor {
  padding: 5px 0;
}

.procedures {
  padding-bottom: 20px;
}

.inputContainer {
  padding-left: 20px;
}

.input {
  width: 100%;
  border: none;
  font-family: 'Courier New';
  outline: none;
}

.view {
  padding: 0 0 10px 0;
}

.step {
  font-size: 16px;
}