.container {
}

.patientName {
  margin-top: 0;
  margin-bottom: 0;
  // text-transform: uppercase;
  font-weight: 400;
}

.main {
  padding: 20px;
}

.dob {
  font-size: 21px;
  color: #555;
}

.dobLabel {
  font-size: 14px;
  color: #999;
  font-weight: 500;
}

.patientNameLabel {
  font-size: 14px;
  color: #999;
  text-transform: uppercase;
}

.infoContainer {
  padding-top: 30px;
}

.infoLabel {
  text-transform: uppercase;
  font-weight: 500;
  color: #0097A7;
}

.info {

}