@import './Breakpoints.scss';
$mediaPadding: 10px;
.container {

}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.relative {
  flex: 0 0 auto;
  position: relative;
}

.box {
  box-sizing: border-box;
  width: 100%;
  @include respond-to('small') {
    width: 50%;
  }
  @include respond-to('medium') {
    width: 33.33%;
  }

}

.media {
  composes: box;
  padding: $mediaPadding;
}

.image {
  width: 100%;
  height: 100%;
}

.meta {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #000;
  background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
  color: #fff;
  display: flex;
  align-items: center;
}


.info {
  flex: 1 1 auto;
  padding: 5px 10px;
}

.actions {
  flex: 0 0 auto;
}

.fileName {

}

.addContainer {
  composes: box;
  display: flex;
  padding: $mediaPadding;
}

.addContainerInner {
  background-color: #fafafa;
  border: 1px solid #ddd;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  position: relative;
  padding: 20px;
}

.fileInput {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.fileMedia {
  padding: 80px 20px;
  text-align: center;
  background-color: #fafafa;
}

.videoContainer {
  width: 100%;
}

.video {
  width: 100%;
}