@import './Breakpoints.scss';

.row {
  display: flex;
}

.responsive {
  flex-direction: column;
  @include respond-to('medium') {
    flex-direction: row;
  }
}

.pad {
  > * {
    @include respond-to('medium') {
      padding: 0 10px;
    }
  }
}